# Environment
env/
.env
!.env.example
*.key

# Idea
**/.idea/
**/.idea/*
!.idea/runConfigurations

# Volumes
pg_data/
redis-data/
docker/volumes/
docker/data/
*.log

# Python
__pycache__/
*.py[cod]
pip-log.txt
.python-version
